body{
    font-family: cursive;
    font-size: larger;
    background-color: #FFFFC5;
}
.container{
     display: grid;
    grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 150px 400px 100px;
   grid-template-areas: 
      "head head head head"
       "aside article article article"
      "aside foot foot foot";

}

header{
    background-color: lightblue;
    grid-area: head;
}

main{
    background-color: violet;
    grid-area: article;
}



aside{
    background-color: lightpink;
    grid-area: aside;
}

footer{
    background-color: lightblue;
    grid-area: foot;
}

img{
    height: 300px;
    width: 500px;
    align-items: center;
}

figcaption{
    display: flex;
    font-style: italic;
}